@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #303030;
}

@font-face {
  font-family: "vazir";
  src: url(./assets/fontes/Vazirmatn-VariableFont_wght.ttf);
}
@font-face {
  font-family: "lale";
  src: url(./assets/fontes/Lalezar-Regular.ttf);
}

.active {
  @apply border-b-2  transition-all duration-200 border-primary;
}
